//
@import 'styles/mixins';

.full-height {
  height: 100vh;
}

:host {
  position: relative;
}

.snap-area {
  width: 100%;
  position: absolute;
  top: 70vh;
  z-index: 1000;
  
  paper-button {
    background-color: white;
  }
}

#uploading-dialog {
  padding: 10px;
  text-align: center;
}

paper-progress {
  --paper-progress-transition-duration: 0.2s;
  --paper-progress-transition-timing-function: ease;
  --paper-progress-transition-transition-delay: 0s;
}

canvas {
  position: absolute;
  display: none;
  
  &.snapped {
    display: block;
    top: 0;
    left: 0;
    z-index: 100;
  }
}

#info-material {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 300px;
  padding: 10px;
  background-color: white;
  z-index: 2000;

  h1 {
    font-size: 20px;
  }

  @include phone {
    position: relative;
    width: 100%;
  }
}

